
.footer {
  background-color: black; 
  color: #fff;             
  text-align: center;      
  padding: 20px;           
  width: 100%;             
}

.footer-name {
  font-weight: bold;                
  color: #00e6e6; /* Neon blue color */       
  display: inline-block;            
  padding: 5px 10px;                
}
p {
  color: #00e6e6; /* Neon blue color */
}


.social-links {
  margin-top: 10px;                 
}

.social-links a {
  margin: 0 15px;                   
  color: #00e6e6; /* Neon blue color */       
  text-decoration: none;            
  font-weight: bold;               
  display: inline-flex;             
  align-items: center;              
}

.social-links a:hover {
  text-decoration: underline;    
}

.social-icon {
  margin-right: 8px;               
  font-size: 30px;                  
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;               
}

footer {
  margin-bottom: auto;                
}
